[project]
	description = \"cps-tbdmt\"\nRead-only as per https://jira.linuxfoundation.org/browse/IT-27356
	state = read only
[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group saml/onap-gerrit-cps-cps-tbdmt-committers
[plugin "its-jira"]
	enabled = true
